<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Contents:</strong>
  <%= @post.contents %>
</p>

<%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-warning'%>
<%= link_to 'Back', posts_path, class: "btn btn-success"%>
<!-- <%= link_to 'Like(<span id="like_count">#{@post.likes.count}</span>)'.html_safe, like_to_post_path, class: 'btn btn-info', id: "like_button"%> -->
<% if @like %>
  <%= link_to "Like".html_safe, like_to_post_path, class: "btn btn-info", id: "like_button" %>
<% else %>
  <%= link_to "Dislike".html_safe, like_to_post_path, class: "btn btn-danger", id: "like_button" %>
<% end %>
<span id='like_count'><%= @post.likes.count %></span>

<%= form_tag create_comment_to_post_path, id: "create_comment" do %>
  <%= text_field_tag "comment[body]" %>
  <%= submit_tag '등록'%>
<% end %>

<table class="table" id="comment_table">
  <thead>
    <tr>
      <th>댓글</th>
    </tr>
  </thead>
  <tbody>
    <% @post.comments.reverse.each do |p| %>
      <tr id="comment-<%= p.id %>">
        <td><%= p.body%></td>
        <td><%= link_to '삭제', destroy_comment_posts_path(p.id), method: :delete, data: {confirm: '삭제하시겠습니까?'}, class: "btn btn-warning", remote: true %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(function(){
    $('#like_button').on('click',function(e){
      e.preventDefault();
      // console.log("Like this post!S2");
      $.ajax({
        method: "POST",
        url: "<%= like_to_post_path %>"
      })
    })
    var form = $('#create_comment');
    form.on('submit', function(e){
      e.preventDefault();
      var contents = form.serialize(); //serialize는 form안에 있는 모든 input tag를 한번에 파라미터로 만들어 줌
      // var contents = $('#comment_body').val(); 사용안됨
      if(contents==""){
        alert('값을 입력해주세요');
      }
      $.ajax({
        url: "<%= create_comment_to_post_path %>",
        method: "POST",
        data: contents
      })
    })
  });
</script>
